@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: gray;
}
header{
    background-color: lightgray;
    
    
}
 menu{
    display: block;
 }
 menu > ul {
    list-style-type: none;
 }
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(110, 110, 110);
    color: white;
    border-bottom: 2px solid black;
}
 menu > ul > li > a:hover {
    background-color: gray;
 }
 
 
header h1{
    text-align: center;
    padding: 20px;
    font-size: 2em;
}
main{
    margin: auto;
    width: 90vw;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    
}
main h2{
    text-align: center;
    padding: 10px;
    font-size: 1.7em;
}
article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}
footer > a{
    display: underline;
    color: black;
}
footer{
    background-color: rgb(134, 134, 134);
    text-align: center;
}

