@charset "UTF-8";
header{
    background-color: black;
    color: white;
    
    width: 100%;
    height: 300px;
}
header > h1{
    text-align: center;
    padding-top: 70px;
    font-size: 5em;
    text-shadow: 1px 1px 2px white;
}
header > p{
    text-align: center;
    font-size: 20px;
    background-color: black;
    margin-top: -10px;
    text-decoration: none;
    text-shadow: 1px 1px 2px white;
}
header p > a {
    text-decoration: none;
    color: white;
}
.p1{
    font-size: 6em;
}