@charset "UTF-8";
header{
    background-color: black;
    color: white;
    
    width: 100%;
    height: 300px;
}
header > h1{
    text-align: center;
    padding-top: 70px;
    font-size: 5em;
}
header > p{
    text-align: center;
    font-size: 20px;
}
