@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #D8FFDB;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: larger;
}
header{
    text-align: center;
    color: #008F8C;
    min-height: 150px;
text-align: center;
padding-top: 30px;
text-shadow: 1px 1px 2px black;
    
    background-color: #023535;
    
}
nav > a:hover{
    text-decoration: none;
    border-radius: 5px;
    color: black;
    background-color: #C7FFED;
    width: 10px;
    height: 10px;
    padding: 10px;
}
nav > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
nav{
    background-color: #023535;
    text-shadow: 1px 1px 2px black;
}
main h1{
color: #008F8C;
text-align: center;
text-shadow: 1px 1px 2px black;
}
main h2{
    text-align: center;
    color: #008F8C;
    text-shadow: 1px 1px 2px black;
}
main h3{
    text-align: center;
    color: #008F8C;
    text-shadow: 1px 1px 2px black;
}
main{
    margin: auto;
    background-color: white;
    min-width: 280px;
    max-width: 800px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    text-indent: 20px;
    border-radius: 1px 1px 2px black;
}
footer{
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #008F8C;
}
aside ul {
    color: black;
    text-decoration: none;
    
    list-style-position: inside;
}
aside p{
    color: black;
    text-decoration: none;

}
aside > ul:hover{
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    text-decoration: none;
}
aside a{
    color: black;
}